<html>
    <head>
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <a href="images/1.jpg"> <img src="images/1.jpg" id="pic1" height="200px" width="200px"> </a>
        <a href="images/2.jpg"> <img src="images/2.jpg" id="pic2"height="200px" width="200px"></a>
        <a href="images/3.jpg"> <img src="images/3.jpg" id="pic3" height="200px" width="200px"></a>
        <a href="images/4.jpg"> <img src="images/4.jpg" id="pic4" height="200px" width="200px"></a>
        <a href="images/5.jpg"> <img src="images/5.jpg" id="pic5" height="200px" width="200px"></a>
        <a href="images/6.jpg"> <img src="images/6.jpg" id="pic6" height="200px" width="200px"></a>
    </body>

</html>