<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: #f1f1f1dc;
  position: fixed;
  height: 100%;
  
}

</style>
</head>
<body style="background-color: cadetblue;">
<ul>
  <h1>Navigation panel</h1>
  <li><a href="index.html">Homepage</a></li><br>
  <li><a href="booklist.html">Books list page</a></li><br>
  <li><a href="book1.html"> Books-1</a></li><br>
  <li><a href="book2.html"> Books-2</a></li><br>
  <li><a href="book3.html"> Books-3</a></li><br>
  <li><a href="survey.html">survey</a></li><br>
</ul>

<div style="margin-left:30%;padding:1px 16px;height:1000px;">
    <h style="font-size: 200%; color:white;text-align: center;"><b>BOOK DETAILS</b></h>
    <br>
    <br>
<hr>

<h3 id="book2"> VERITY</h3>
<p style="font-size: 125%;">
<img src="./public/images/book2.jpg" alt="picture not available" width="500" height="600" align="middle" />    <br>
<em>Author name:</em> <strong>Colleen Hoover</strong><br>
<em>Description:</em>Lowen Ashleigh is hired by the husband of an injured writer to complete her popular series and uncovers a horrifying truth.
</p>
<br>