<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: #f1f1f1dc;
  position: fixed;
  height: 100%;
}


h1 { text-align: centre;
}
</style>
</head>
<body style="background-color: cadetblue;">
<ul>
    <h1>Navigation panel</h1>
    <li><a href="index.html">Homepage</a></li><br>
    <li><a href="booklist.html">Books list page</a></li><br>
    <li><a href="book1.html"> Books-1</a></li><br>
    <li><a href="book2.html"> Books-2</a></li><br>
    <li><a href="book3.html"> Books-3</a></li><br>
    <li><a href="survey.html">survey</a></li><br>
</ul>

<div style="margin-left:30%;padding:1px 16px;height:1000px;">
    <h1 style="font-size: 200%; color:white;text-align: center;"><b>BOOK LISTS</b></h1>
    <br>
    <h2>These are the books which we have right now, click on the title or book image for more information</h2>
    <br>
    <br>

<p><img src="./public/images/book1.jpg" alt="picture not available" width="100" height="100" align="top" />
     <a href="./views/book1.html"> IT ENDS WITH US </a></p>

<p><img src="./public/images/book2.jpg" alt="picture not available" width="100" height="100" align="top" />
        <a href="./views/book2.html"> VERITY </a></p>
        
<p><img src="./public/images/book3.jpg" alt="picture not available" width="100" height="100" align="top" />
            <a href="./views/book3.html"> SEVEN HUSBANDS OF EVELYN HUNGO </a></p>


</div>
</body>
</html>
