<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  margin: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: #f1f1f1dc;
  position: fixed;
  height: 100%;
}
li {
  text-align: left;
}

h1 { text-align: centre;
}
</style>
</head>
<body style="background-color: rgb(152, 152, 180);">
<ol>
  <br>
  <br>
  <li><a href="index.html">Homepage</a></li><br>
  <li><a href="booklist.html">Books list page</a></li><br>
  <li><a href="book1.html"> Books-1</a></li><br>
  <li><a href="book2.html"> Books-2</a></li><br>
  <li><a href="book3.html"> Books-3</a></li><br>
  <li><a href="survey.html">survey</a></li><br>
</ol>

<div style="margin-left:30%;padding:1px 16px;height:1000px; text-align: center;">
    <h1 style="font-size: 200%; color:white;text-align: center;"><b>MOBASERY LIBRARY</b></h1>
    <br>
    <h1 style="color: rgb(12, 8, 243);">Welcome reader! </h1><br>
    <h3 style="text-align: left;">click on the links
        displayed in navigation panel for more information</h3>
 </div>
  
</body>
</html>

