<!doctype html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="http://127.0.0.1:3000/css/style.css" crossorigin="anonymous">
</head>

<body>
    {{{body}}}
</body>

</html>