<div class="book">
	<p>{{book.bookName}}</p>
	<div class="book-block">
		<p class="book-info">Author: {{book.author}}</p>
		<a class="book-info" target="_blank" href="{{book.link}}">Buy on Amazon!</a>
	</div>
</div>