<div class="home">
	<p>Click on any book to see the details!</p>
	<div class="book-items">
		{{#each books}}
		<a class="book-item" href="/books/{{bookNumber}}">{{bookName}}</a>
		{{/each}}
	</div>
</div>