<!doctype html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://assg2nevilpatel.herokuapp.com/css/style.css" crossorigin="anonymous">
</head>

<body>
    {{{body}}}
    <nav class="navbar">
        <a href="/home">List of Books</a>|
        <a href="/AddNewBook">Add Book</a>|
        <a href="/DeleteABook">Delete A Book</a>
    </nav>
</body>

</html>